* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 275px 1fr;
  grid-template-rows: 175px 1fr;
}

div .header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  display: grid;
  grid-template: 80px 100px / 1fr 300px;
}

.welcome {
  display: grid;
  grid-template-columns: 100px 300px;
}

#profile-bg {
  width: 65px;
  height: 65px;
  background-color: rgb(137, 86, 179);
  border-radius: 50%;

  justify-self: end;
  align-self: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

#img-1 {
  width: 45px;
}

.welcome-message {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  margin-left: 20px;

  align-self: center;
}

.top-welcome {
  font-size: 13px;
  margin-bottom: 5px;
}

.bottom-welcome {
  font-size: 20px;
}

div .sidebar {
  background-color: #ef4444;
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  display: grid;
  grid-template-rows: 80px 240px 100px; 
  gap: 25px;
}


#img-2, #img-3 {
  filter: invert(1)
}
.side-heading,
.side-middle div,
.side-bottom div {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
}

.side-heading {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
}

.side-middle,
.side-bottom {
  margin-left: 27px;

  display: grid;
  gap: 15px;
  align-content: start;
}

.side-heading {
  font-size: 25px;
  color: white;
  margin-left: 15px;
}

#img-2 {
  width: 50px;
}

.side-middle div,
.side-bottom div {
  font-size: 18px;
  color: white;

  display: grid;
  grid-template-columns: 45px 1fr;
  align-items: center;
}

#img-3 {
  width: 25px;
}

div .main-content {
  background-color: rgb(226, 226, 226);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}



/* For Visualization */
.main-content {
  border: 2px solid black;
}