* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body {
  height: 100%;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 275px 1fr;
  grid-template-rows: 165px 1fr;
}

/* HEADER */

div .header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  display: grid;
  grid-template: 80px 85px / 1fr 325px;
}

#search-bar {
  display: grid;
  grid-template-columns: 55px 1fr;
}

#query {
  width: min(85%, 700px);
  height: 40%;
  background-color: rgb(226, 226, 226);
  border: none;
  border-radius: 30px;
  padding-left: 10px;
  margin-bottom: 5px;
  margin-left: 15px;

  align-self: center;
}

#query:focus {
  outline: 2px solid black;
}

#search-button {
  justify-self: end;
  align-self: center;
}

.account {
  display: grid;
  grid-template-columns: 60px 60px 150px;
  align-items: center;
  justify-items: center;
}

#profile-bg-1 {
  width: 45px;
  height: 45px;
}

#pfp-1 {
  width: 31px;
}

.account-name {
  font-weight: bold;
}

.welcome {
  display: grid;
  grid-template-columns: 100px 300px;
}

#profile-bg-2 {
  width: 65px;
  height: 65px;

  justify-self: end;
  align-self: center;
}

#pfp-2 {
  width: 45px;
}

.welcome-message {
  font-weight: bolder;
  margin-left: 20px;

  align-self: center;
}

.top-welcome {
  font-size: 13px;
  margin-bottom: 5px;
}

.bottom-welcome {
  font-size: 20px;
}

#search-image, #notification {
  width: 25px;
}

#profile-bg-1, #profile-bg-2 {
  background-color: rgb(137, 86, 179);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* SIDEBAR */

div .sidebar {
  background-color: #ef4444;
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  display: grid;
  grid-template-rows: 80px 240px 100px; 
  gap: 25px;
}


#nav-buttons, #db-button {
  filter: invert(1)
}
.side-heading,
.side-middle div,
.side-bottom div {
  font-weight: bolder;
}

.side-heading {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
}

.side-middle,
.side-bottom {
  margin-left: 27px;

  display: grid;
  gap: 15px;
  align-content: start;
}

.side-heading {
  font-size: 25px;
  color: white;
  margin-left: 15px;
}

#db-button {
  width: 50px;
}

.side-middle div,
.side-bottom div {
  font-size: 18px;
  color: white;

  display: grid;
  grid-template-columns: 45px 1fr;
  align-items: center;
}

#nav-buttons {
  width: 25px;
}

/* CONTENT */

div .main-content {
  background-color: rgb(226, 226, 226);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}